{% extends 'base.html' %}

{% block main %}
    <section class="mb-4">
        <header>
            <h1 class="float-left">{{ details[2] }} </h1>
            <span class="buttons-right">
                <a href="{{ url_for('show_reservations', event_id=details[0]) }}"
                   class="btn btn-sm btn-outline-info"
                   role="button">Lista rezerwujących</a>
                <a href="{{ url_for('edit_event', event_id=details[0]) }}"
                   class="btn btn-sm btn-outline-info"
                   role="button">Edytuj</a>
                <a href="{{ url_for('delete_event', event_id=details[0]) }}"
                   class="btn btn-sm btn-outline-info delete-action"
                   role="button">Usuń</a>
            </span>
        </header>
        <table class="table">
            <tr>
                <td>Tytuł</td>
                <td>{{ details[2] }}</td>
            </tr>
            <tr>
                <td>Miejsce</td>
                <td>{{ details[3] }}</td>
            </tr>
            <tr>
                <td>Opis</td>
                <td>{{ details[4] }}</td>
            </tr>
            <tr>
                <td>Czas rozpoczęcia</td>
                <td>{{ details[5] }}</td>
            </tr>
            <tr>
                <td>Czas zakończenia</td>
                <td>{{ details[6] }}</td>
            </tr>
            <tr>
                <td>Ilość miejsc</td>
                <td>{{ details[7] }}</td>
            </tr>
            <tr>
                <td>Ilość zajętych miejsc</td>
                <td>{{ details[8] }}</td>
            </tr>
            <tr>
                <td>Ilość osób w kolejce</td>
                <td>{{ details[9] }}</td>
            </tr>
        </table>
    </section>
{% endblock %}