{% extends 'base.html' %}

{% block main %}
    <section class="mb-4">
        <header>
            <h1 class="float-left">Kolejka: {{ event['title'] }} </h1>
            <span class="buttons-right">
                <a href="{{ url_for('show_reservations', event_id=event['event_id']) }}"
                   class="btn btn-sm btn-outline-info"
                   role="button">Pokaż rezerwacje</a>
                <a href="{{ url_for('event', event_id=event['event_id']) }}"
                   class="btn btn-sm btn-outline-info"
                   role="button">Powrót</a>
            </span>
        </header>
        <table class="table">
            <tr>
                <th>Email rezerwującego</th>
                <th>Usuń rezerwację z kolejki</th>
            </tr>
            {% for reservation in queue %}
                <tr>
                    <td>{{ reservation['email'] }}</td>
                    <td>
                        <a href="{{ url_for('delete_reservation_queue', reservation_id=reservation['reservation_id']) }}?next={{ url_for('show_queue', event_id=event['event_id']) }}"
                           class="btn btn-sm btn-outline-info delete-action"
                           role="button">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}