{% extends 'base.html' %}

{% block main %}
    <section class="mb-4">
        <header>
            <h1 class="float-left">Moje oferty:</h1>
        </header>
        <table class="table">
            <tr>
                <th>Co?</th>
                <th>Za co?</th>
                <th>Usuń</th>
            </tr>
            {% for offer in offers %}
                <tr>
                    <td><a href="{{ url_for('event', event_id=offer['event1_id']) }}">{{ offer['event1_title'] }}</a></td>
                    <td><a href="{{ url_for('event', event_id=offer['event2_id']) }}">{{ offer['event2_title'] }}</a></td>
                    <td>
                        <a href="{{ url_for('delete_offer', offer_id=offer['id']) }}"
                           class="btn btn-sm btn-outline-info delete-action"
                           role="button">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}